* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  color: #000;
}

a {
text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  text-transform: uppercase;
}

/* header */

.main-header {
  min-height: 320px;
  margin-bottom: 59px;
  background-color: #f4f7f9
}

.header-top {
  height: 42px;
  background-color: #293449;
}

.container {
  width: 940px;
  display: flex;
  margin: 0 auto;
}

.logo-top {
  width: 220px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.button-top {
  width: 720px;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-top a {
  color: #fff;
}

.search {
  display: flex;
}

.search button {
  margin-left: 17px;
  border: none;
  background-color: #293449;
}

input[type="search"] {
  border: none;
  background-color: #293449;
}

.header-bookmark {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-cart {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-cart {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-buy {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-buy {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #63a63e;
}

.header-middle {
  padding-top: 46px;
}

.title {
  width: 200px;
  min-height: 60px;
  margin-top: 0;
  margin-right: 67px;
  margin-bottom: 0;
  margin-left: 53px;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: italic;
  color: #ee3643;
}

.header-address {
  width: 270px;
  margin-right: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone {
  width: 270px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #ffffff;
  font-size: 21px;
  color: #ee3643;
}

.address {
  margin: 0;
  padding-top: 4px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}



.user {
  display: flex;
  justify-content: space-between;
}

.user a {
  font-size: 21px;
  color: #000;
  background-color: #fff;
}

.user .login {
  width: 121px;
  height: 45px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user .reg {
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-down {
  padding-top: 44px;
  padding-bottom: 60px;
}

.main-navigation {
  width: 940px;
  height: 60px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
  padding-right: 55px;
  padding-left: 52px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.site-navigation a {
  font-size: 17px;
  color: #fff;
}

/* прошлый код

.full-cart {
  background-color: #ee3643;
}

.header-button a {
  color: #fff;
}
 */
/* main */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs,
.breadcrumbs a {
  color: #000;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.drill-background {
  background-color: #f2f6f8;
}

.page-title {
  color: #32425c;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

/* Главная сттраница */
/* Секция */

.mein-menu {}

.menu-item {
  color: #fff;
}

.menu-item-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.menu-material {
  background-color: #ffbf47;
}

.menu-tool {
  background-color: #3bbce3;
}

.menu-equipment {
  background-color: #dc91d8;
}

.menu-sale {
  background-color: #8ed78f;
}

.menu-delivery {
  background-color: #ffc047;
}

.menu-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.slider-box {
  background-color: #32425c;
}

.slider-title {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
}

.slider-comment {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.slider-button {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

/* Секция */

.top-item {

}

.section-title {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
}

.catalog-items {
  list-style: none;
}

.name-item .name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}

.price-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.price-item .price {
  color: #fff;
  background-color: #ee3643;
}

.price-item .old-price {
  color: #999;
}

.item-overlay {
  list-style: none;
}

.item-overlay .button-buy {
  color: #fff;
  background-color: #63a63e;
}

.item-overlay .button-bookmark {
  color: #32425c;
  background-color: #fff;
  border: solid 3px #63a63e;
}

/* Секция */

.manufacturer {

}

.manufacturer-items {
  list-style: none;
}

.manufacturer-item {
  width: 220px;
  height: 145px;
  text-align: center;
  border: 1px solid #eaeaea;
}

/* Секция */

.service {
  background-color: #f4f7f9;
}

.service-title {
  color: #000;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.service-list {
  list-style: none;
}

.service-button {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  background-color: #32425c;
}

.service-button-on {
  color: #32425c;
  background-color: #fff;
}

.service-page-title {
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

/* Нижняя колонка */

.column-bottom {

}

/* Секция */

.info {

}

.info-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
}

.partnership {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  list-style: none;
}

/* Секция */

.contacts {

}

.contacts-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
}

/* Страница каталога */
/* Секция */

.sorting {
  background-color: #f7f3ec;
}

.sorting-title {
  color: #000;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
}

.sorting-button {
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sorting-button.active {
  color: #ee3643;
}

/* Секция */

.filter-background {
  background-color: #f7f3ec;
}

.filter-title {
  color: #000;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-field {
  border: none;
}

.form-field input[type="text"] {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000;
  background-color: #f7f3ec;
  border: none;
}

.form-legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-developed,
.form-power {
  list-style: none;
}

.form-developed label,
.form-power label {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

/* Секция */

.catalog {

}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.pagination-item.active {
  color: #fff;
  background-color: #ee3643;
}

/* Сайдбар */

.aside {
  background-color: #f4f7f9;
}

.aside-title {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
}

/* footer */

.footer-up {
  background-color: #32425c;
}

.footer-down {
  background-color: #293449;
}

.logo-down {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  font-weight: normal;
}

.footer-address a {
  color: #f3f7f9;
}

.footer-top-navigation,
.footer-bottom-navigation {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-top-navigation a {
  color: #f1f5f7;
}

.footer-bottom-navigation a {
  color: #ffd180;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.social {
  list-style: none;
}

.social a {
  background-color: #212a3a;
}

.footer-feedback,
.footer-developed {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback a,
.footer-developed a {
  color: #ffd180;
}

/* работа с текстом и заголовками */

.text {
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Флексы !!!! */ /*

.header-middle {
  width: 920px;
  min-height: 158px;
  display: flex;
  margin: 0 auto;
}

.title {
  width: 196px;
  min-height: 60px;
  margin-right: 71px;
  margin-left: 53px;
}

.header-address {
  width: 270px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone {
  width: 270px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border: solid 3px #ffffff;
  font-size: 21px;
  color: #ee3643;
}

.main-navigation {
  width: 920px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 auto;
  margin-bottom: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
  width: 920px;
  height: 60px;
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-content: center;
}

.user-navigation {
  display: flex;
  padding: 0;
  order: -1;
  margin-bottom: 104px;
}

.user-navigation a {
  padding: 14px 25px 11px 25px;
  margin-left: 10px;
}
*/
