/*Глобальные */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000;
}

a {
 text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
}

/* header */

.main-header {
  min-height: 320px;
  margin-bottom: 59px;
  background-color: #f4f7f9
}

.header-top {
  min-height: 42px;
  background-color: #293449;
  margin-bottom: 46px;
}

.header-top .container {
  min-height: 42px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.header-top a {
  font-size: 17px;
  line-height: 18px;
  color: #fff;
}

.logo-top {
  width: 220px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 0 0 #B72530;
  background-color: #ee3643;
}

.logo-top:hover,
.logo-top:focus {
  background-color: #ca2c37;
}

.logo-top:active {
  background-color: #ba2732;
}

.search {
  width: 270px;
  position: relative;
}

input[type="search"] {
  width: 270px;
  height: 42px;
  padding: 0;
  padding-left: 48px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  color: #fff;
  background-color: #293449;
  outline: none;
}

input[type="search"]:hover {
  background-color: #212a3a;
}

input[type="search"]:focus {
  color: #000;
  background-color: #fff;
}

.search button {
  width: 17px;
  height: 17px;
  padding: 0;
  position: absolute;
  top: 12px;
  left: 17px;
  order: -1;
  border: none;
  background-color: #293449;
  cursor: pointer;
}

button:hover .icon-search,
button:focus .icon-search {
  opacity: 1;
}

button:active .icon-search {
  fill: #ee3643;
}

input[type="search"]:hover + button {
  background-color: #212a3a;
}

input[type="search"]:hover + button .icon-search {
  opacity: 1;
}

input[type="search"]:focus + button {
  background-color: #fff;
}

input[type="search"]:focus + button .icon-search {
  fill: #ee3643;
}

.header-bookmark {
  width: 150px;
  height: 42px;
  padding-left: 17px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-bookmark {
  position: absolute;
  top: 12px;
  left: 17px;
  margin-right: 13px;
  opacity: 0.3;
}

.header-bookmark:hover,
.header-bookmark:focus {
  background-color: #212a3a;
}

.header-bookmark:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-bookmark:hover .icon-bookmark,
.header-bookmark:focus .icon-bookmark {
  opacity: 1;
}

.header-bookmark:active .icon-bookmark {
  opacity: 0.5;
}

.header-cart {
  width: 150px;
  height: 42px;
  padding-left: 19px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-cart {
  position: absolute;
  top: 12px;
  left: 17px;
  margin-right: 17px;
  opacity: 0.3;
}

.header-cart:hover,
.header-cart:focus {
  background-color: #212a3a
}

.header-cart:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-cart:hover .icon-cart,
.header-cart:focus .icon-cart {
  opacity: 1;
}

.header-cart:active .icon-cart {
  opacity: 0.5;
}

.full-cart {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee3643;
}

.full-cart:hover,
.full-cart:focus {
  background-color: #ca2c37;
}

.full-cart:active {
  background: #ba2732;
}

.full-cart:hover .icon-cart,
.full-cart:focus .icon-cart {
  opacity: 1;
}

.full-cart:active .icon-cart {
  opacity: 0.5;
}

.header-buy {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #63a63e;
}

.header-buy:hover,
.header-buy:focus {
  background-color: #5fbb2d;
}

.header-buy:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-middle {
  padding-bottom: 39px;
}

.title {
  width: 200px;
  min-height: 69px;
  margin: 0;
  margin-top: 3px;
  margin-right: 70px;
  margin-left: 53px;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone {
  width: 270px;
  height: 45px;
  padding: 0;
  padding-left: 71px;
  position: relative;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  font-size: 21px;
  color: #ee3643;
}

.phone img {
  position: absolute;
  top: 10px;
  left: 12px;
}

.address {
  width: inherit;
  margin: 0;
  padding: 0;
  padding: 4px 9px 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-menu {
  min-width: 299px;
  margin-left: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
}

.user-item {
  height: 45px;
  padding: 0 25px;
  margin-bottom: 5px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 21px;
  color: #000;
  background-color: #fff;
}

.user-login {
  width: 121px;
  position: relative;
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  align-items: center;
}

.user-login svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.user-item:hover,
.user-item:focus {
  color: #ee3643;
}

.user-item:hover path,
.user-item:focus path {
  fill: #32425c;
}

.user-item:active path {
  fill: #c5c5c5;
}

.user-reg {
  width: 150px;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}

.user-logout {
  width: 299px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-logout svg:first-child {
  margin-right: 14px;
}

.user-logout svg:last-child {
  position: absolute;
  right: 10px;
}

.user-logout:hover,
.user-logout:focus {
  color: #000;
}

.user-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-login-menu {
  width: 299px;
  min-height: 18px;
  padding-right: 71px;
  padding-left: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.user-login-menu li {
  position: relative;
}

.user-login-menu li:nth-child(2n) {
  padding-left: 31px;
}

.user-login-menu li:nth-child(2n)::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 13px;
  border-radius: 5px;
  border: 2px solid #32425c;
}

.user-login-menu a {
  font-size: 16px;
  line-height: 16px;
  text-decoration: underline;
  color: #32425c;
}

.user-login-menu a:hover,
.user-login-menu a:focus {
  color: #ee3643;
}

.user-login-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-down {
  padding-bottom: 60px;
}

.main-navigation {
  width: 940px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
  min-height: 60px;
  padding-right: 19px;
  padding-left: 19px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.site-navigation li {
  min-width: 114px;
  height: 60px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
}

.site-navigation a {
  padding: 0 30px 4px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/* index page */
/* section */

.main-menu {
  margin-bottom: 33px;
}

.menu-wrapper {
  width: 940px;
  min-height: 409px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.right-menu-wrapper {
  min-height: 286px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding: 15px 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
}

.menu-material {
  background-color: #ffbf47;
}

.menu-material::after {
  content: "";
  position: absolute;
  top: 0;
  left: 240px;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-tool {
  background-color: #3bbce3;
}

.menu-equipment {
  background-color: #dc91d8;
}

.menu-sale {
  background-color: #8ed78f;
}

.menu-delivery {
  background-color: #ffc047;
}

.menu-item-title {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  line-height: 30px;
}

.menu-button {
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-button:hover,
.menu-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-item img {
  position: absolute;
}

.menu-material img {
  top: 31px;
  left: 213px;
}

.menu-tool img {
  top: 33px;
  left: 197px;
}

.menu-equipment img {
  top: 31px;
  left: 191px;
}

.menu-sale img {
  top: 26px;
  left: 196px;
}

.menu-delivery img {
  top: 32px;
  left: 191px;
}

.slider-box {
  width: 620px;
  height: 266px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  background-color: #32425c;
}

.slider {
  height: 266px;
  padding-top: 19px;
  padding-bottom: 22px;
  flex-direction: column;
  justify-content: space-between;
}

.slider-1 {
  display: none;
}

.slider-2 {
  display: flex;
}

.slider div {
  z-index: 1;
}

.slider-title {
  padding-left: 23px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
}

.slider-comment {
  padding-left: 25px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.slider-image {
  position: absolute;
  z-index: 0;
  top: 0;
  margin: 0;
}

.slider-button {
  margin-left: 25px;
  width: 195px;
  z-index: 1;
}

.button-left,
.button-right {
  border: none;
  background: transparent;
  cursor: pointer;
}

.button-left {
  position: absolute;
  top: 113px;
  left: 20px;
}

.button-right {
  position: absolute;
  top: 113px;
  right: 15px;
}

.slider-dots-1 {
  width: 10px;
  height: 10px;
  padding: 0;
  position: absolute;
  bottom: 36px;
  left: 295px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.slider-dots-2 {
  width: 10px;
  height: 10px;
  padding: 0;
  position: absolute;
  bottom: 36px;
  right: 295px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #ee3643;
  cursor: pointer;
}

/* Секция */

.top-item {
  margin-bottom: 1px;
}

.top-item .container {
  flex-direction: column;
}

.title-wrapper {
  min-height: 89px;
  padding-right: 24px;
  padding-left: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
}

.section-title {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.button-top-item,
.button-manufacturer {
  min-width: 253px;
}

.catalog {
  width: 700px;
  padding-bottom: 65px;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-items li {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}

.card-item {
  width: 220px;
  min-height: 318px;
  position: relative;
  border: solid 1px #eaeaea;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.card-item.new::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.card-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.name-item {
  min-height: 40px;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 15px;
  flex-grow: 1;
}

.name-item .name {
  display: flex;
  justify-content: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}

.card-item-image {
  width: 218px;
  height: 170px;
  margin-bottom: 4px;
  order: -1;
}

.price-item {
  min-height: 94px;
  margin: 0;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.price-item::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 42px;
  width: 141px;
  height: 38px;
  background-image: url("../img/item-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ee3643;
  cursor: default;
  z-index: 1;
}

.old-price {
  margin:0;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a9a9a9;
  cursor: default;
}

.card-item .item-overlay {
  width: 218px;
  height: 170px;
  position: absolute;
  top: 1px;
  left: 1px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.card-item:hover .item-overlay {
  display: flex;
}

.item-overlay li {
  margin: 0;
  margin-bottom: 8px;
}

.card-button {
  width: 135px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}

.button-buy {
  position: relative;
  border: none;
  box-shadow: inset 0px -3px #367315;
  color: #fff;
  background-color: #63a63e;
}

.button-buy img {
  position: absolute;
  left: 12px;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button-buy:hover .icon-cart,
.button-buy:focus .icon-cart,
.button-buy:active .icon-cart {
  opacity: 1;
}

.button-bookmark {
  border: 3px solid #63a63e;
  color: #32425c;
  background-color: #fff;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid #32425c;
}

.button-bookmark:active {
  opacity: 0.3;
  border: 3px solid #32425c;
}

/* Секция */
.manufacturer {
  padding-bottom: 65px;
}

.manufacturer .container {
  flex-direction: column;
}

.manufacturer-items {
  min-height: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.manufacturer-item {
  display: flex;
  margin-bottom: 20px;
}

.manufacturer-item:hover,
.manufacturer-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  outline: none;
}

.manufacturer-item:active{
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.manufacturer-item a {
  width: 220px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
}

.manufacturer-item:nth-child(2) img {
  padding-bottom: 4px;
}

.manufacturer-item:nth-child(3) img {
  padding-bottom: 4px;
}

.manufacturer-item:nth-child(4) img {
  padding-bottom: 14px;
}

.manufacturer-item:nth-child(5) img {
  padding-top: 4px;
  padding-left: 2px;
}

.manufacturer-item:nth-child(6) img {
  padding-right: 2px;
}

.manufacturer-item:nth-child(7) img {
  padding-bottom: 2px;
}

.manufacturer-item:nth-child(8) img {
  padding-bottom: 6px;
  padding-left: 2px;
}

/* Секция */

.service {
  min-height: 522px;
  margin-bottom: 78px;
  background-color: #f4f7f9;
}

.service .container {
  position: relative;
  flex-direction: column;
}

.service-heading-wrapper {
  min-height: 110px;
  margin-top: 60px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-title {
  padding-top: 4px;
  padding-bottom: 24px;
  margin: 0;
  z-index: 1;
  color: #000;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.service-heading-wrapper .text {
  width: 425px;
  min-height: 37px;
  margin: 0;
}

.service-wrapper {
  display: flex;
}

.service-list {
  min-height: 183px;
  padding-top: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.service-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  right: 0;
  top: -48px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-list li {
  display: flex;
  flex-direction: column;
}

.service-button {
  width: 240px;
  height: 62px;
  padding-bottom: 2px;
  padding-left: 22px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  background-color: #32425c;
}

.service-button.active {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  color: #32425c;
  background-color: #fff;
}

.service-button:hover,
.service-button:focus {
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  color: #fff;
  background-color: #293449;
}

.service-button:active {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  color: #32425c;
  background-color: #fff;
}

.service-page-wrapper {
  width: 700px;
}

.service-page {
  min-height: 280px;
  position: relative;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}

.delivery-page {
  display: flex;
}

.guarantee-page {
  display: none;
}

.credit-page {
  display: none;
}

.service-page-title {
  padding-bottom: 23px;
  margin: 0;
  z-index: 1;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.delivery-page .text {
  width: 296px;
  margin: 0;
  padding-bottom: 27px;
  z-index: 1;
}

.guarantee-page .text {
  width: 418px;
  margin: 0;
  padding-bottom: 27px;
  z-index: 1;
}

.credit-page .text {
  width: 310px;
  margin: 0;
  padding-bottom: 27px;
  z-index: 1;
}

.service-page img {
  position: absolute;
  z-index: 0;
}

.service-page:first-child img {
  right: 1px;
  bottom: -7px;
}

.service-page:nth-child(2) img {
  right: -8px;
  bottom: -7px;
}

.service-page:nth-child(3) img {
  right: -10px;
  bottom: -7px;
}

.button-credit {
  width: 195px;
}

/* Секция */

.bottom-column {
  justify-content: space-between;
  padding-bottom: 86px;
}

.info-title,
.contacts-title {
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
}

.info .text {
  width: 550px;
  margin-bottom: 23px;
}

.info .text:nth-of-type(2) {
  width: 415px;
}

.button-info {
  width: 220px;
}

.partnership {
  padding-bottom: 16px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.partnership li {
  position: relative;
  padding-bottom: 19px;
}

.partnership li::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  left: -36px;
  top: 8px;
  border: 1px solid #ee3643;
}

/* Секция */

.contacts .text {
  width: 180px;
  padding-bottom: 30px;
}

.contact-map {
  margin-bottom: 36px;
}

.button-contact {
  width: 300px;
}

/* Страница каталога */

.breadcrumbs {
  position: relative;
}

.breadcrumbs-list {
  display: flex;
  position: absolute;
  top: -39px;
}

.breadcrumbs-list li {
  position: relative;
}

.breadcrumbs-list li:not(:first-child) {
  margin-left: 40px;
}

.breadcrumbs-list li:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: -25px;
  top: 6px;
  border-left: 1px solid #c1c6ce;
  border-bottom: 1px solid #c1c6ce;
  transform: rotate(225deg);
}

.breadcrumbs-list a {
  color: #000;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-list .icon-home {
  margin-top: 4px;
}

.page-title {
  width: 940px;
  min-height: 89px;
  margin: 0;
  padding-right: 24px;
  padding-left: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

/* Колонка страницы каталога */

.catalog-page-column {
  display: flex;
  justify-content: space-between;
}

/* Секция */

.filter {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.filter-title {
  min-width: 220px;
  min-height: 38px;
  margin: 0;
  padding-left: 17px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.form-field {
  padding: 0;
  margin: 0;
  border: none;
}

.form-legend {
  margin-bottom: 13px;
  display: flex;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-controls {
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.range-runner {
  width: 20px;
  height: 20px;
  box-shadow: 0 2px rgba(171, 171, 171, 0.3);
  border-radius: 50%;
  border: 8px solid #fff;
  background-color: rgb(171, 171, 171);
  cursor: pointer;
}

.range-runner-min {
  position: absolute;
  left: 20px;
}

.range-runner-max {
  position: absolute;
  left: 162px;
}

.price-controls {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field .range-price {
  width: 95px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000;
  border-radius: 3px;
  border: none;
  background-color: #f7f3ec;
}

.price-dash {
  width: 10px;
  height: 1px;
  border-bottom: 1px solid #444;
}

.divider {
  width: 220px;
  margin: 25px 0 18px;
  border-bottom: 1px solid #e5e5e5;
}

.form-developed li:not(:last-child),
.form-power li:not(:last-child) {
  margin-bottom: 17px;
}

.form-developed label,
.form-power label {
  padding-left: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
}

.form-developed input[type="checkbox"],
.form-power input[type="radio"] {
  opacity: 0;
}

.form-developed label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -17px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-developed label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -17px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-developed input[type="checkbox"] + label::after {
  content: none;
}

.form-developed input[type="checkbox"]:checked + label::after {
  content: "";
}

.form-developed input[type="checkbox"]:checked + label::before {
  content: none;
}

.form-developed input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
.form-developed input[type="checkbox"]:focus + label::after {
  outline: rgb(59, 153, 252) auto 5px;
}

.form-power label::before {
  content: "";
  position: absolute;
  left: -17px;
  top: -3px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #c5c5c5;
}

.form-power label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #c5c5c5;
}

.form-power input[type="radio"] + label::after {
  content: none;
}

.form-power input[type="radio"]:checked + label::after {
  content: "";
}

.form-power input[type="radio"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.filter-button {
  min-width: 140px;
  height: 38px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  cursor: pointer;
}

.sorting {
  min-height: 38px;
  padding: 0 17px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.sorting-title {
  margin: 0;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
}

.sorting-list {
  min-width: 440px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.sorting-list a {
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list .active {
  border: none;
  color: #ee3643;
}

.sorting-list a:hover,
.sorting-list a:focus {
  border-bottom: 1px solid #ee3643;
  color: #000;
}

.sorting-list a:active {
  border: none;
  color: #ee3643;
}

.sorting-priority {
  width: 42px;
  display: flex;
  justify-content: space-between;
}

.sorting-priority a {
  border: none;
}

.sorting-priority a:hover,
.sorting-priority a:focus {
  border: none;
}

.sorting-priority a:active {
  border: none;
}

.sorting-navigation path {
  opacity: 0.3;
}

.sorting-navigation.active path {
  opacity: 1;
  fill: #ee3643;
}

.sorting-navigation:hover path,
.sorting-navigation:focus path {
  opacity: 1;
  fill: #000;
}

.sorting-navigation:active path {
  fill: #ee3643;
}

.pagination-list {
  display: flex;

}

.pagination-list li {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list li:last-child a {
  width: 140px;
}

.pagination-list a {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000000;
}

.pagination-list .active {
  color: #fff;
  background-color: #ee3643;
  cursor: default;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
}

/* Сайдбар */

.aside {
  background-color: #f4f7f9;
}

.aside .container {
  flex-direction: column;
  padding-top: 65px;
  padding-bottom: 70px;
}

.aside-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
}

/* footer */

.footer-up {
  background-color: #32425c;
  padding-bottom: 28px;
}

.footer-up .container {
  justify-content: space-between;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
}

.logo-down {
  width: 220px;
  height: 68px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-address {
  width: 322px;
  min-height: 40px;
  margin: 0;
  padding-left: 2px;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  font-weight: normal;
}

.footer-address a {
  color: #f3f7f9;
}

.footer-navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 39px;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.footer-top-navigation {
  margin-bottom: 34px;
}

.footer-bottom-navigation {
  margin-bottom: 44px;
}

.footer-top-navigation li {
  padding-left: 60px;
}

.footer-top-navigation a {
  color: #f1f5f7;
}

.footer-top-navigation a:hover,
.footer-top-navigation a:focus {
  text-decoration: underline;
}

.footer-top-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-bottom-navigation li {
  padding-left: 60px;
}

.footer-bottom-navigation a {
  color: #ffd180;
}

.footer-bottom-navigation a:hover,
.footer-bottom-navigation a:focus {
  text-decoration: underline;
}

.footer-bottom-navigation a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-down {
  background-color: #293449;
  padding-top: 38px;
  padding-bottom: 27px;

}

.footer-down .container {
  justify-content: space-between;
}

.copyright {
  width: 228px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.social-wrapper {
  margin-left: 46px;
}

.social {
  min-width: 132px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
}

.social li {
  display: flex;
  margin: 0 2px;
}

.social a {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #212a3a;
}

.social a:hover,
.social a:focus {
  background-color: #ee3643;
}

.social a:active {
  background-color: #ee3643;
}

.footer-feedback-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.footer-feedback,
.footer-developed {
  width: 135px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-developed {
  padding-left: 24px;
}

.footer-feedback a,
.footer-developed a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-developed a:hover {
  text-decoration: underline;
}

.footer-feedback a:focus,
.footer-developed a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developed a:active {
  text-decoration: none;
  color: #ee3643;
}

/* работа с текстом и заголовками */

.text {
  margin: 0;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* modal */

.modal-map {
  width: 940px;
  height: 446px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  box-shadow: 0 0 10px 5px rgba(0, 1, 1, 0.75);
}

.modal-feedback {
  position: relative;
  width: 620px;
  min-height: 423px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  box-shadow:
    0 -7px #ee3643,
    0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.form-feedback {
  margin: 46px 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.form-item {
  width: 220px;
  margin: 0 0 20px;
}

.form-item.textarea {
  width: 460px;
}

.form-item label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}

.form-item input {
  width: 220px;
  height: 38px;
  padding: 0 15px;
  flex-grow: 1;
  border-radius: 3px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
}

.form-item textarea {
  width: 460px;
  height: 114px;
  padding: 10px 15px;
  resize: none;
  border-radius: 3px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
}

.form-feedback .form-item:last-of-type {
  margin-bottom: 60px;
}

.form-button.button {
  max-width: 460px;
  min-width: 220px;
  margin: 10px 0;
  flex-grow: 1;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #b5b5b5;
}

.form-item input:focus,
.form-item textarea:focus {
  outline: none;
  border: 2px solid #ee3643;
}

.modal-notify {
  width: 620px;
  height: 275px;
  margin-top: -138px;
  margin-left: -310px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  z-index: 10;
  box-shadow:
    0 -7px #ee3643,
    0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.notify {
  width: 414px;
  margin: 0;
  margin-top: 55px;
  margin-left: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

.notify-button {
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notify-button a {
  width: 220px;
  margin: 0 10px;
}

.notify-button .button:last-child {
  color: #000;
  background-color: #fff;
}

.button-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
