* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  color: #000;
}

a {
 text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  text-transform: uppercase;
}

/* header */

.main-header {
  min-height: 320px;
  margin-bottom: 59px;
  background-color: #f4f7f9
}

.header-top {
  height: 42px;
  background-color: #293449;
}

.container {
  width: 940px;
  display: flex;
  margin: 0 auto;
}

.logo-top {
  width: 220px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 0 0 #B72530;
  background-color: #ee3643;
}

.logo-top:hover {
  background-color: #ca2c37;
}

.logo-top:active {
  background: #ba2732;
}

.header-top .container {
  width: 940px;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top a {
  color: #fff;
}

.search {
  position: relative;
  display: flex;
}

.search:active {
  background-color: #fff;
}

.search img {
  position: absolute;
  top: 12px;
  left: 17px;
  background-color: #293449;
}

input[type="search"] {
  min-width: 270px;
  padding: 12px 0 11px 49px;
  border: none;
  background-color: #293449;
  color: #fff;
}

input[type="search"]:hover {
  background-color: #212a3a;
}

.header-bookmark {
  width: 150px;
  height: 42px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bookmark:hover {
  background-color: #212a3a
}

.header-bookmark:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-bookmark img {
  position: absolute;
  top: 12px;
  left: 17px;
}

.header-cart {
  width: 150px;
  height: 42px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-cart:hover {
  background-color: #212a3a
}

.header-cart:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-cart img {
  position: absolute;
  top: 12px;
  left: 17px;
}

.full-cart {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-buy {
  width: 150px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #63a63e;
}

.header-buy:hover {
  background-color: #5fbb2d;
}

.header-buy:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-middle {
  padding-top: 46px;
}

.title {
  min-width: 196px;
  min-height: 60px;
  margin-top: 0;
  margin-right: 67px;
  margin-bottom: 0;
  margin-left: 53px;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: italic;
  color: #ee3643;
}

.header-address {
  width: 270px;
  margin-right: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone {
  width: 270px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #ffffff;
  font-size: 21px;
  color: #ee3643;
}

.address {
  margin: 0;
  padding-top: 4px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}



.user-menu {
  display: flex;
  justify-content: space-between;
}

.user-menu a {
  font-size: 21px;
  color: #000;
  background-color: #fff;
}

.user-button {
  min-width: 121px;
  height: 45px;
  padding-right: 25px;
  padding-left: 23px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-button:hover {
  color: #ee3643;
}

.user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-down {
  padding-top: 34px;
  padding-bottom: 60px;
}

.main-navigation {
  width: 940px;
  height: 60px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
  height: 60px;
  padding-right: 24px;
  padding-left: 21px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.site-navigation a {
  height: 60px;
  padding: 20px 31px;
  font-size: 17px;
  color: #fff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/* main */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs,
.breadcrumbs a {
  color: #000;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.drill-background {
  background-color: #f2f6f8;
}

.page-title {
  color: #32425c;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

/* Главная сттраница */
  /* Секция */

.menu-wrapper {
  width: 940px;
  min-height: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-card-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-icon-wrapper {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

    /* Карточки меню */

.menu-item {
  width: 300px;
  height: 123px;
  display: flex;
  color: #fff;
}

.menu-material {
  position: relative;
  background-color: #ffbf47;
}

.new-flag {
  position: absolute;
  left: 240px;
}

.menu-tool {
  background-color: #3bbce3;
}

.menu-equipment {
  background-color: #dc91d8;
}

.menu-sale {
  background-color: #8ed78f;
}

.menu-delivery {
  background-color: #ffc047;
}

.menu-item-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 20px;
  font-weight: bold;
  line-height: 30px;
}

.menu-button {
  width: 135px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  margin-left: 25px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-wrapper {
  width: 940px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.slider-box {
  width: 620px;
  height: 266px;
  display: flex;
  flex-direction: column;
  background-color: #32425c;
}

.slider-title {
  margin: 27px 0 0 24px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
}

.slider-comment {
  margin: 8px 0 0 24px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.slider-image {
  margin: 0;
}

.slider-button {
  width: 195px;
  height: 38px;
  margin: 106px 0 22px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.slider-button:hover {
  background-color: #ca2c37;
}

.slider-button:active {
  background-color: #ba2732;
}


/* Секция */

.top-item {

}

.section-title {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
}

.catalog-items {
  list-style: none;
}

.name-item .name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}

.price-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.price-item .price {
  color: #fff;
  background-color: #ee3643;
}

.price-item .old-price {
  color: #999;
}

.item-overlay {
  list-style: none;
}

.item-overlay .button-buy {
  color: #fff;
  background-color: #63a63e;
}

.item-overlay .button-bookmark {
  color: #32425c;
  background-color: #fff;
  border: solid 3px #63a63e;
}

/* Секция */

.manufacturer {

}

.manufacturer-items {
  list-style: none;
}

.manufacturer-item {
  width: 220px;
  height: 145px;
  text-align: center;
  border: 1px solid #eaeaea;
}

/* Секция */

.service {
  background-color: #f4f7f9;
}

.service-title {
  color: #000;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.service-list {
  list-style: none;
}

.service-button {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  background-color: #32425c;
}

.service-button-on {
  color: #32425c;
  background-color: #fff;
}

.service-page-title {
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

/* Нижняя колонка */

.column-bottom {

}

/* Секция */

.info {

}

.info-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
}

.partnership {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  list-style: none;
}

/* Секция */

.contacts {

}

.contacts-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
}

/* Страница каталога */
/* Секция */

.sorting {
  background-color: #f7f3ec;
}

.sorting-title {
  color: #000;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
}

.sorting-button {
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sorting-button.active {
  color: #ee3643;
}

/* Секция */

.filter-background {
  background-color: #f7f3ec;
}

.filter-title {
  color: #000;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-field {
  border: none;
}

.form-field input[type="text"] {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000;
  background-color: #f7f3ec;
  border: none;
}

.form-legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-developed,
.form-power {
  list-style: none;
}

.form-developed label,
.form-power label {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

/* Секция */

.catalog {

}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.pagination-item.active {
  color: #fff;
  background-color: #ee3643;
}

/* Сайдбар */

.aside {
  background-color: #f4f7f9;
}

.aside-title {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
}

/* footer */

.footer-up {
  background-color: #32425c;
}

.footer-down {
  background-color: #293449;
}

.logo-down {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  font-weight: normal;
}

.footer-address a {
  color: #f3f7f9;
}

.footer-top-navigation,
.footer-bottom-navigation {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-top-navigation a {
  color: #f1f5f7;
}

.footer-bottom-navigation a {
  color: #ffd180;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.social {
  list-style: none;
}

.social a {
  background-color: #212a3a;
}

.footer-feedback,
.footer-developed {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback a,
.footer-developed a {
  color: #ffd180;
}

/* работа с текстом и заголовками */

.text {
  font-family: "PT Sans", "Arial",  sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Флексы !!!! */
